/* Footer */
.footer{ 
    background-color: black;
    color: white;
}
.footer__marg{
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
}
.footer__info{
    margin: 20px 0 20px 20px;
}
.footer__social{
    display: flex;
    justify-content: space-evenly;
}
.social__link{
    color: white;
    font-size: 2rem;
}
.social__link:hover{
    color: #5693F2;
}
.info__Link{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    width: 70px;
}
.info__first{
    font-weight: bold;
}