body{
    background-color: whitesmoke;
    font-family: Calibri;
}

.container{
    margin: 0 auto;
    width: 100%;
}

.header {
    background-color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    
}
.header__marg{
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header__img{
    width: 80px;
    border-radius: 10px;
}

.header__nav, .header__log{
    font-size: 1.3rem;
}
.header__link {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 3px;
    border-radius: 10px;
}

.header__link:hover {
    background-color: #DDF2FF;
}

.mostrar{
    display: block;
}
.ocultar{
    display: none;
}

.section__log{
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 10px;
    position: absolute;
    top: 120px;
    left: 1050px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.login__close{
    text-decoration: none;
    color: blue;
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 1.5rem;
}
.login__title{
    font-size: 1.5rem;
    margin-left: 100px;
}
.log__input{
    padding: 10px;
    border:0;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 20px;
    outline: 0;
}
.log__button{
    border-radius: 5px;
    padding: 8px;
    margin-right: 100px;
    background-color: #DDF2FF;
    border: 0;
    color: #250856;
    transition: background-color 0.5s;
}
.log__button:hover{
    background-color: #250856;
    color: #DDF2FF;
}

.section__buscar{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 120px;
    left: 1050px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.main{
    max-width: 1080px;
    margin: 0 auto;
}
.main__publi{
    margin-top: 110px;
    height: 600px;
    background-image: url(../assets/images/optica-panoramica.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    margin-bottom: 50px;
    border-radius: 2px;
}
.publi__content{
    padding: 20px;
    width: 300px;
    background-color: #ddf2ffab;
    border-radius: 10px;
}

.main__winter{
    display: flex;
    margin-bottom: 100px;
}
.winter__img{
    height: 300px;
}

.winter__eslogan{
    height: 300px;
    writing-mode: vertical-rl;
    transform: rotateZ(180deg);
}
.winter__h3{
    font-size: 3rem;
    margin-left: -50px;
}
.winter__h3--first{
    font-weight: 100;
}

.winter__info{
    text-align: justify;
    margin: 60px 30px 0 120px;
}
.winter__button{
    border-radius: 5px;
    padding: 8px;
    margin-right: 100px;
    background-color: #5693F2;
    border: 0;
    color: white;
    width: 150px;
    transition: background-color 0.5s;
}
.winter__button:hover{
    background-color: #250856;
    color: #DDF2FF;
}

.main__targets{
    margin-bottom: 100px;
}
.targets__h3{
    font-size: 2rem;
    text-align: center;
}
.target__box{
    display: flex;
    justify-content: space-around;
}

.target__card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    height: 200px;
    transition: height 0.7s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.target__card:hover {
    height: 270px;
}
.target__card:hover .target__text {
    opacity: 1;
}
.target__card:hover .target__price {
    opacity: 1;
}

.target__image{
    height: 200px;
}
.target__text{
    font-weight: bold;
    text-align: center;
    opacity: 0;
}
.target__price{
    color: rgb(0, 177, 0);
    margin-left: 35px;
    opacity: 0;
}

.footer{ 
    background-color: black;
    color: white;
}
.footer__marg{
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
}
.footer__info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
}
.footer__social{
    display: flex;
    justify-content: space-evenly;
}
.social__link{
    color: white;
    font-size: 2rem;
}
.social__link:hover{
    color: #5693F2;
}
.info__Link{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    width: 70px;
}
.info__first{
    font-weight: bold;
}
.footer__info--sub{
    margin-top: 55px;
}